.vscode
.ccls
.dir-locals.el
**/CMakeCache.txt
**/CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
docs/Makefile
docs/cmake_install.cmake
docs/internal/Makefile
docs/internal/cmake_install.cmake
lib/Makefile
lib/cmake_install.cmake
libcpu.so
examples/Makefile
examples/cmake_install.cmake
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
build/
docs/doxygen/html/
Docs/_doxygen
sanity_test/
```
